.form{
    margin-top: 1.813rem;
    margin-bottom: 1.188rem;
    margin-left: 1.313rem;
    margin-right: 1.313rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-default-2);
}

label{
    display: flex;
    margin: 12px 0px;

    font-size: var(--title-4);
    color: var(--color-grey-4);
}

input{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: var(--radius-default);

    font-size: var(--text-1);
    background-color: var(--color-grey-1);
    color: var(--color-grey-3);
    font-family: 'Nunito', sans-serif;
}

small{
    display: flex;
    margin-top: 4px;
    margin-bottom: 8px;

    font-size: var(--text-2);
    color: var(--color-grey-3);
}

select{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: var(--radius-default);
    border: none;

    font-size: var(--text-2);
    background-color: var(--color-grey-1);
    color: var(--color-grey-3);
    font-family: 'Nunito', sans-serif;
}