.totalMoney{
    display: flex;
    justify-content: space-between;
    margin-top: 1.813rem;
    margin-bottom: 1.188rem;
    margin-left: 1.313rem;
    margin-right: 1.313rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-default-2);
}

.infoTotalMoney_title{
    margin-bottom: 6px;

    font-size: var(--title-3);
    color: var(--color-grey-4);
}

.infoTotalMoney_description{
    font-size: var(--text-2);
    color: var(--color-grey-4);
}

.total{
    font-size: var(--text-1);
    color: var(--color-primary);
}